DB_HOST=localhost
DB_PORT=5432
DB_NAME=deployguard
DB_USERNAME=deployguard
DB_PASSWORD=deployguard
AI_SERVICE_BASE_URL=http://localhost:8001
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=deployguard
RABBITMQ_PASSWORD=deployguard
SERVER_PORT=8080
